
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

header {
  display: flex;
  padding: 30px 10%;
  width: 100vw;
  gap: 40px;
  background-color: #8B3B59;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #8B3B59;
}

.flex-grow{
  flex-grow: 1;
  width: 400px;
}

.position {
  position: static;
  top: 0;
  right: 0;
  left: 0;
}

.logo {
  cursor: pointer;
}


a:hover {
  color: #686868;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background: #fff8e7;
}


.zeyada {
  font-family: 'Zeyada', sans-serif;
  font-size: 20px;
}

.alegreyaLight {
  font-family: 'AlegreyaLight', sans-serif;
}

.caveat-font {
  font-family: 'Caveat', cursive;
  padding: 10px;
  font-size: 22px;
}

p {
  text-transform: capitalize;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 5px;
}

.background-img {
  width: auto; 
    height: auto; 
    background-image: url('./images/bgmain1.png'); 
    background-size:cover; 
    background-repeat: inherit;
    background-position: center;
}

textarea {
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: #586959;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  margin-left: 30px;
  margin-right: 30px;
  width: 80px;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'DM Serif Display', serif;
  align-self: center;
}

#specialDaysSnippet {
  width: 170px;
  height: 150px;
  align-self: left;
  margin-bottom: 10px;
  font-weight: bolder;
}

#toDoSnippet {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

#randomPhrase {
  font-size: 6em;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 100;
  color: #586959;
  height: 70vh;
  width: 70vw;
  margin: 0;
}

#randomPhrase::before,
#randomPhrase::after {
  content: "     ";
  margin: 1.3em;
}

@media (max-width: 600px) {
  .containerColumn {
    flex-direction: column; 
    align-items: center; 
  }
}  
  .containerColumn {
  display: flex;
  box-sizing: border-box;
  flex-flow: column;
  justify-content: center;
  align-self: flex-start;
  column-gap: 20px;
  row-gap: 20px;
  min-height: 1000px;
  width: 100vw;
  height: 60vh;
}

.smWidth{
  max-width:400px;
}

.extra-left-padding {
  padding-left: 40px;
  margin-left: 200px;
}

.extra-left-margin {
  margin-left: 230px;;
}

#extra-top-padding{
  padding-top: 150px;
}

.dynamicContainer {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "left-menu quote-div quote-div"
    "left-menu quote-div quote-div"
    "left-menu quote-div quote-div";
  justify-content: space-around;
  align-items: baseline;
  column-gap: 5px;
  row-gap: 10px;
  width: 100vw;
}

.left-menu { 
  grid-area: left-menu; 
}

.quote-div { 
  grid-area: quote-div; 
}

.card {
  display: flex;
  background: #D5B795;
  color: #000000;
  width: 350px;
  height: 50px;
  min-width: 200px;
  width:auto;
  font-size: 24px;
  cursor: pointer;
  border-radius: 20px;
  padding-left: 10px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

.myGreatDay {
  background-color: #d18577;
  height: 50px;
}

#myGreatDay {
  cursor:pointer;
  font-size: 30px;;
}


.specialDays {
  background-color: #B27497;
  height: 200px;
  border-radius: 5px;
}

#specialDaysInfo::before {
  display: flex;
  content: 'Space will autopopulate when text is entered into Monthly Calendar';
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
  color:#8B3B59;
  opacity: 0;
  height: 200px;
  font-weight: bolder;
  justify-content: center;
}

#specialDaysInfo:hover::before {
  opacity: 1;
}

#toDoInfo::before {
  display:flex;
  content: 'Space will autopopulate when text is entered into Monthly Calendar';
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
  color:#8B3B59;
  opacity: 0;
  height: 200px;
  font-weight: bolder;
  justify-content: center;
}

#toDoInfo:hover::before {
  opacity: 1;
}

#countdown {
  background: #ec8b75;
 text-align: center;
 padding-left: 65px;
 padding-top: 7px;
  height: 50px;
}

.countdownStyle {
  font-family: 'DM Serif Display', serif;
  color: white;
  font-size: 14px;
  padding-right: 16px;
}

#mainJournal {
  background-color: #f9c0b1;
  height: 50px;
  padding-top: 10px;
  padding-left: 90px;
}

#coreValuesCard {
  background-color: #99A985;
  height: 50px;
  padding-top: 10px;
  padding-left: 100px;
}

#selfCareCard {
  background-color: #586959;
  height: 50px;
  padding-top: 10px;
  padding-left: 60px;
}

#substituteCard {
  background-color: #2B2B0B;
  height: 50px;
  padding-top: 10px;
  padding-left: 30px;
}

#calendar {
  background-color: #8B3B59;
  height: 50px;
  padding-top: 10px;
  padding-left: 60px;
}

.toDoCard {
  background-color: #B27497;
  height: 200px;
  border-radius: 5px; 
  width:auto;
}



.journalHeading {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 15px;
  font-size: 22px;
}

.paddingJournal {
  background-color: #8B3B59;
  border: none;
  width: 800px;
  border-radius: 5px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.journalBody {
  background-color: #FFF;
  margin: 20px 20px 20px 20px;
  text-align: center;
  color: black;
  border: none;
  border-radius: 5px;
  padding-bottom: 20px;
}

#prompts {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 6px;
  cursor: crosshair;
}

#input {
  width: 90%;
  border: 2px solid #aaa;
  border-radius: 2px;
  padding-bottom: 350px;
  resize: none;
  color: black;
}

#myJournal {
  justify-content: center;
  align-content: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 3rem;
}

#saveButton {
  background-color: #99A985;
  padding: 5px;
  border: white solid 2px;
  border-radius: 30px;
  font-size: 20px;
}

.hiddenDiv {
  display: none;
}

#myCoreValues {
  justify-content: center;
  align-content: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 3rem;
}

.titleCoreValuesDiv {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFF;
  font-family: 'DM Serif Display', serif;
}

.titleSixCoreValues {
  font-family: 'DM Serif Display', serif;
  text-align: center;
  letter-spacing: 2px;
  padding-left: 20px;
  color: #FFF
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.paddingCoreValues {
  background-color: #8B3B59;
  border: none;
  width: 800px;
  border-radius: 5px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.yourListContainer {
  padding-right: 30px;
  padding-left: 30px;
}

.columnWrapper {
  column-count: 3;
  column-gap: 20px;
}

.cvLink {
  text-align: center;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: dotted;
  color: #aaa;
}

.wordBank {
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.selectedWords {
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #aaa;
}

.word {
  font-family: 'DM Serif Display', serif;
  font-weight: bolder;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  display: inline-block;
  background-color: #fff;
}

.hoverDelete {
  cursor:crosshair;
}

.hoverDelete::before {
  content: 'X';
  font-family: 'DM Serif Display', serif;
  font-size: 14px;
  font-weight: bold;
  padding: 3px;
  opacity: 0; 
  pointer-events: none;
  color: #9f5f67;
}

.hoverDelete:hover::before {
opacity: 1;
}


.coreValuesInstructions {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.toDoHome,
.specialDaysHome {
  flex-flow: column wrap;
  height: 200px;
}

#toDoUpdate,
#specialDaysUpdate {
  flex-grow: 2;
  height: 100px;
  width: 300px;
  color: black;
  font-size: 14px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}


#monthlyCalendarDiv {
  margin-top: 80px;
  margin-bottom: 10px;
}

#monthYear {
  font-family: 'DM Serif Display', serif;
  align-self: center;
  color: white;
}

.calendar {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  height: 600px;
}


#daysOfMonth {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
  height: 600px;
  width: 800px;
}

.day {
  font-family: 'DM Serif Display', serif;
  border: 1px solid;
  padding: 5px;
  text-align: center;
  background-color: #99A985;
}

.day:hover {
  transform:scale(1.4);
}

.calendarToDoContainer,
.calendarSpecialEventsContainer,
.calendarNotesContainer {
  width: 100px;
  height: 50px;
  color: black;
  text-decoration: underline;
}

.calendarToDoInput,
.calendarSpecialEventsInput,
.calendarNotesInput {
  overflow: hidden;
  resize: none;
  border: 1px solid white;
  background-color: #fff8e7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 9px;
  width: 85px;
  height: 40px;
  white-space: wrap;
  text-overflow: ellipsis;
}

p1 {
  text-align: center;
  letter-spacing: 1px;
  color: #586959;
  font-size: 15px;
  text-decoration: underline;
}

.breakTitle {
  font-size: 14px;
  letter-spacing: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: black;
}

.art {
  width: 80px;
  height: 40px;
}

.dos {
  width: 70px;
  height: 40px;
}

.ted,
.klt {
  width: 45px;
  height: 40px;
}

.bb {
  width: 120px;
  height: 30px;
}

.eckart {
  width: 120px;
  height: 25px;
}

.insight {
  width: 100px;
  height: 30px;
}

.fb {
  width: 140px;
  height: 35px;
}

.burnedin {
  width: 90px;
  height: 35px;
}

.wellness {
  width: 100px;
  height: 35px;
}

.pinterest {
  width: 30px;
  height: 30px;
}

.bookBB {
  width: 50px;
  height: 70px;
  padding: 1px;
}

.youturn {
  width: 70px;
  height: 50px;
}

.gabby {
  width: 80px;
  height: 30px;
  padding: 1px;
}

.cardSC {
  height: 200px;
  width: 400px;
  border-radius: 5px;
  font-size: 16px;
  border: black solid 3px;
  border-radius: 20px;
}

#selfCareContainerDiv {
  font-family: 'DM Serif Display', serif;
  background-color: #8B3B59;
  border: none;
  width: 900px;
  border-radius: 5px;
  padding-bottom: 10px;
  margin-top: 50px; 
}

#containerSC {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  background-color: #FFF;
  margin: 20px 20px 20px 20px;
  text-align: center;
  color: black;
  border: 1px solid;
  border-radius: 5px;
  height: 455px;
  padding-top: 15px;
  padding-bottom: 15px;
}


.breakContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}

.columnContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
}

.imgBorder {
  border: black solid 2px;
}