@font-face {
  font-family: 'Zeyada';
  src: url(font/Zeyada-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'AlegreyaLight';
  src: url(font/AlegreyaSansSC-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Indie';
  src: url(font/IndieFlower-Regular.ttf) format('truetype');
}

.zeyada {
  font-family: 'Zeyada', sans-serif;
  font-size: 20px;
}

.alegreyaLight {
  font-family: 'AlegreyaLight', sans-serif;
}

.indie {
  font-family: 'Indie', sans-serif;
  padding: 10px;
}

body {
  font-family: lora, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
  padding-top: 2rem;
}


p {
  text-transform: capitalize;
  color: white;
  font-family: 'AlegreyaLight', sans-serif;
}

textarea {
  font-family: 'SpaceBold', sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
  background-color: #586959;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'AlegreyaLight', sans serif;
  align-self: center;
  font-size: 50px;
}

#specialDaysSnippet {
  width: 150px;
  height: 150px;
  align-self: left;
  margin-top: 10px;
  font-weight: bolder;
}

#toDoSnippet {
  width: 150px;
  height: 150px;
  margin-top: 10px;
  font-weight: bolder;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  padding: 20px;
}

#randomPhrase {
  font-size: 2.1em;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 100;
  color: #586959
}

#randomPhrase::before,
#randomPhrase::after {
  content: '-';
  margin-right: 0.6em;
  color: #686868;
}

.containerColumn {
  display: flex;
  flex-direction: column;
  flex-flow: column-wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  row-gap: 30px;
  flex-grow: 1;
}

.dynamicContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card {
  display: flex;
  background: #D5B795;
  color: #000000;
  align-items: flex-end;
  text-transform: capitalize;
  width: 100%;
  height: 100px;
  min-width: 350px;
  max-width: 450px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 10px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

.myGreatDay {
  background-color: #d18577;
  height: 110px;
}

#myGreatDay {
  cursor:crosshair;
}


.specialDays {
  background-color: #7c919a;
  height: 250px;
}

#specialDaysInfo::before {
  display: flex;
  content: 'Space will autopopulate when text is entered into Monthly Calendar';
  font-family: 'AlegreyaLight', sans-serif;
  font-size: 26px;
  color: black;
  opacity: 0;
  height: 200px;
  width: 200px;
  font-weight: bolder;
  justify-content: center;
}

#specialDaysInfo:hover::before {
  opacity: 1;
}

.spTextAlignTop {
  margin: 0;
  padding-bottom: 15px;
}

.tdTextAlign {
  margin: 0;
}

#toDoInfo::before {
  display:flex;
  content: 'Space will autopopulate when text is entered into Monthly Calendar';
  font-family: 'AlegreyaLight', sans-serif;
  font-size: 24px;
  color: black;
  opacity: 0;
  height: 200px;
  width: 200px;
  font-weight: bolder;
  justify-content: center;
}

#toDoInfo:hover::before {
  opacity: 1;
}

#mainJournal {
  background-color: #99a59a;
  height: 250px;
}

.arrowImg {
  width: 25px;
  height: 25px;
  margin-left: 50px;
  margin-bottom: 160px;
}

.playButton {
  font-size: 25px;
  text-align: right;
  margin-left: 50px;
  margin-bottom: 130px;
}

.extraLeftPlayButton {
  padding-left: 80px;
}

.cvPlayButton {
padding-left: 100px;
}

.playSubPlan {
  font-size: 25px;
  text-align: right;
  margin-left: 35px;
  margin-bottom: 100px;
}

.playSummerCountdown {
  text-align: right;
  margin-left: 50px;
  margin-bottom: 40px;
}

#summerCountdown {
  background: #7c919a;
  padding-left: 10px;
  padding-bottom: 5px;
  height: 100px;
}

.summerCountdownStyle {
  font-family: 'Indie', serif;
  color: white;
  font-size: 20px;
}

#countdown {
font-family: Georgia, 'Times New Roman', Times, serif;
align-items: center;
}

#calendar {
  background-color: #af6e34;
  height: 390px;
}

.toDoCard {
  background-color: #e1b469;
  height: 250px;
}

#coreValuesCard {
  background-color: #9f5f67;
  height: 250px;
}

#selfCareCard {
  background-color: #586959;
  height: 200px;
}

#substituteCard {
  background-color: #d18577;
  height: 165px;
}

.journalHeading {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 15px;
  font-size: 22px;
}

.paddingJournal {
  background-color: #99a59a;
  border: none;
  width: 800px;
  border-radius: 5px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.journalBody {
  background-color: #FFF;
  margin: 20px 20px 20px 20px;
  text-align: center;
  color: black;
  border: none;
  border-radius: 5px;
  padding-bottom: 20px;
}

#prompts {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 6px;
  cursor: crosshair;
}

#input {
  width: 90%;
  border: 2px solid #aaa;
  border-radius: 2px;
  padding-bottom: 350px;
  resize: none;
}

#myJournal {
  justify-content: center;
  align-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
  padding-top: 3rem;
}

.hiddenDiv {
  display: none;
}

#myCoreValues {
  justify-content: center;
  align-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
  padding-top: 3rem;
}

.titleCoreValuesDiv {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFF;
  font-family: AlegreyaLight;
}

.titleSixCoreValues {
  font-family: AlegreyaLight, sans serif;
  text-align: center;
  letter-spacing: 2px;
  padding-left: 20px;
  color: #FFF
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.paddingCoreValues {
  background-color: #9f5f67;
  border: none;
  width: 800px;
  border-radius: 5px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.yourListContainer {
  padding-right: 30px;
  padding-left: 30px;
}

.columnWrapper {
  column-count: 3;
  column-gap: 20px;
  /* Optional - adjust the gap between columns */
}

.cvLink {
  text-align: center;
  font-size: 13px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: dotted;
  color: #aaa;
}

.wordBank {
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.selectedWords {
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #aaa;
}

.word {
  font-family: AlegreyaLight, sans serif;
  font-weight: bolder;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  display: inline-block;
  background-color: #fff;
}

.hoverDelete {
  cursor:crosshair;
}

.hoverDelete::before {
  content: 'X';
  font-family: AlegreyaLight, sans serif;
  font-size: 14px;
  font-weight: bold;
  padding: 3px;
  opacity: 0; 
  pointer-events: none;
  color: #9f5f67;
}

.hoverDelete:hover::before {
opacity: 1;
}


.coreValuesInstructions {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.toDoHome,
.specialDaysHome {
  flex-flow: column wrap;
  height: 225px;
}

#toDoUpdate,
#specialDaysUpdate {
  flex-grow: 2;
  height: 150px;
  width: 150px;
  color: black;
  font-size: 14px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}


#monthlyCalendarDiv {
  margin-top: 10px;
  margin-bottom: 10px;
}

#monthYear {
  font-family: AlegreyaLight, sans serif;
  align-self: center;
}

.calendar {
  max-width: 800px;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  height: 600px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #af6e34;
  color: white;
  padding: 10px;
  width: 800px;
}

#daysOfMonth {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
  height: 600px;
  width: 800px;
}

.day {
  font-family: AlegreyaLight, sans serif;
  border: 1px solid;
  padding: 5px;
  text-align: center;
  background-color: #ebccbd;
  transition: transform 0.3s;
}

.day:hover {
  transform: scale(1.5);
}


.calendarToDoContainer,
.calendarSpecialEventsContainer,
.calendarNotesContainer {
  width: 100px;
  height: 50px;
  color: black;
  text-decoration: underline;
}

.calendarToDoInput,
.calendarSpecialEventsInput,
.calendarNotesInput {
  overflow: hidden;
  resize: none;
  border: 1px solid white;
  background-color: #ebccbd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  width: 85px;
  height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.parentSC {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  width: 100vw;
}

.childSC {
    flex: 0 0 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    scroll-snap-align: center;
}

p1 {
  text-align: center;
  letter-spacing: 1px;
  color: #586959;
  font-size: 15px;
  text-decoration: underline;
}

.breakTitle {
  font-size: 14px;
  letter-spacing: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: black;
}

.art {
  width: 80px;
  height: 40px;
}

.dos {
  width: 70px;
  height: 40px;
}

.ted,
.klt {
  width: 45px;
  height: 40px;
}

.bb {
  width: 120px;
  height: 30px;
}

.eckart {
  width: 120px;
  height: 25px;
}

.insight {
  width: 100px;
  height: 30px;
}

.fb {
  width: 140px;
  height: 35px;
}

.burnedin {
  width: 90px;
  height: 35px;
}

.wellness {
  width: 100px;
  height: 35px;
}

.pinterest {
  width: 35px;
  height: 35px;
}

.bookBB {
  width: 50px;
  height: 70px;
  padding: 1px;
}

.youturn {
  width: 70px;
  height: 50px;
}

.gabby {
  width: 80px;
  height: 30px;
  padding: 1px;
}

.cardSC {
  height: 200px;
  width: 400px;
  border-radius: 5px;
  font-size: 16px;
  border: black solid 3px;
}

#selfCareContainerDiv {
  font-family: 'AlegreyaLight', sans serif;
  background-color: #586959;
  border: none;
  width: 900px;
  border-radius: 5px;
  padding-bottom: 10px;
  margin: auto;
}

#containerSC {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  background-color: #FFF;
  margin: 20px 20px 20px 20px;
  text-align: center;
  color: black;
  border: 1px solid;
  border-radius: 5px;
  height: 455px;
  padding-top: 15px;
}


.breakContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}

.columnContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
}

.imgBorder {
  border: black solid 2px;
}
